<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxxUDdn-FL2HmP11qFhLm_fckgdzfnWNs</string>
	<key>GCM_SENDER_ID</key>
	<string>883143298531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.troisdorf.app</string>
	<key>PROJECT_ID</key>
	<string>troisdorf-8d735</string>
	<key>STORAGE_BUCKET</key>
	<string>troisdorf-8d735.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883143298531:ios:7d03202ce2957fb3f9a4d6</string>
</dict>
</plist>