<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaepuiM7VP7n8t_kk4oL_Ve2vEVY0k-YM</string>
	<key>GCM_SENDER_ID</key>
	<string>339509071249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Salzkotten-App</string>
	<key>PROJECT_ID</key>
	<string>salzkotten-app</string>
	<key>STORAGE_BUCKET</key>
	<string>salzkotten-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339509071249:ios:57fdeb0b37780af3ec1e30</string>
</dict>
</plist>