<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEK00-DHN6C68UKBBJl23_bk0ANxw5ePE</string>
	<key>GCM_SENDER_ID</key>
	<string>363023604244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasslachtal.schneckenlohe</string>
	<key>PROJECT_ID</key>
	<string>schneckenlohe-21773</string>
	<key>STORAGE_BUCKET</key>
	<string>schneckenlohe-21773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363023604244:ios:f6f45e35497ad531f2a501</string>
</dict>
</plist>