<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE2aVFDqwaqueE2qS3XTm1wDoVoZ7yjMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>248378738903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.gera.app</string>
	<key>PROJECT_ID</key>
	<string>gera-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>gera-stage.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248378738903:ios:74054086ea7c43b9a2c892</string>
</dict>
</plist>