<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1qihZf-qb0jlJiCUY6jEWfra7XalR94w</string>
	<key>GCM_SENDER_ID</key>
	<string>665415094248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.troisdorf.app</string>
	<key>PROJECT_ID</key>
	<string>troisdrof-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>troisdrof-stage.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665415094248:ios:1d32dd8c747572e7cede5d</string>
</dict>
</plist>